// Colors
$blue: #4183C4; //  okay blue
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666; // used for title font color
$lightGray: #eee;
$white: #fff;
$safeblue: #242d36; // safe blue color

// values
$value: 56;
$hori_title_height: $value + 0px;

// size
$body_width: 800px;
